##following code can be generated use MybatisCodeHelperPro plugin mybatis generator mingrate to template generate.
##copy group for different project.
#set($javamodelSrcFolder="${projectPath}/src/main/java")
#set($modelPackageName="com.model")
#set($mapperSrcFolder="${projectPath}/src/main/java")
#set($mapperPackageName="com.mapper")
#set($mapperXmlFolder="${projectPath}/src/main/resources")
#set($mapperXmlPackage="mapperxml")
#set($serviceSrcFolder="${projectPath}/src/main/java")
#set($servicePackageName="com.service")
#set($serviceImplSrcFolder="${projectPath}/src/main/java")
#set($serviceImplPackageName="com.service.impl")
#set($controllerSrcFolder="${projectPath}/src/main/java")
#set($controllerPackageName="com.controller")
#set($useLombok=true)
#set($useSwagger=false)
#set($useOpenApi=false)
#set($addSchemaName=false)
#set($mapperSuffix="Mapper")
#set($daoSuffix="Mapper")
